*{
	margin: 0;
	padding: 0;
	outline: none!important;
}
body{
	width: 100%;

}
.main{
	padding:20px;
}

.nav{
	margin: 0 auto;
}
.conti{
	width: 80%;
	height: auto;
	margin: 0 auto;
	margin-top: 30px;
}
.main_footer{
	position: absolute;
	width: 100%;
}
@media screen and (max-width: 460px) {
	.conti{
		width: 100%;
	}
	.main{
		padding: 0;
		padding-top: 20px;
	}
	.date{
		display: none;
	}
	#share_count{
		overflow: scroll;
	}
	#share_name{
		width: 30%!important;
	}
	.share_{
		display: none;
	}
	#share_link{
		width: 27%!important;
	}
	#share_pwd{
		width: 26%!important;
	}
	#uploading{
		width: 300px!important;
		height: 270px!important;
		margin-left: -150px!important;
		font-size: 20px!important;
	}
	#pro_par{
		width: 96%!important;
	}
}
