
#upload{
	float: right;
}
#file_header{
	clear: both;
	height: 60px;
}
.am-breadcrumb{
	float: left;
}
#file_list th{
	font-weight: 100;
}
td i{
	font-size: 22px!important;
	padding-right: 6px;
	position: relative;
	top: 3px;
}
td{
	padding-left: 12px!important;
	cursor: pointer;
}
#ctrl{
	width: 100%;

}
#search{
	position: relative;
	top: 5px;
}
#search_button{
	display: inline-block;
	height: 27px;
	font-size: 10px;
}
#create_dir{
	float: right;
}
#uploading{
	width: 600px;
	height: 300px;
	background-color: #fff;
	box-shadow: 0px 0px 0px 10px #ccc;
	position: absolute;
	z-index: 1999;
	top: 200px;
	left: 50%;
	margin-left: -300px;
	text-align: center;
	font-size: 24px;
	display: none;
}
#uploading h3{
	line-height: 100px;
}
#bread li a{
	cursor: pointer!important;
}
.method{
	display: none;
}
tr:hover .method{
	display: block;
}
#move-file{
		width: 350px!important;
		height: 400px!important;
		left: 50%;
		top: 50%;
		margin-left: -175px!important;
		margin-top: -315px!important;
}
.file_dir{
	height: 30px;
	width: 100%;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	line-height: 30px;
	padding-left: 5px;
}
.file_dir:hover{
	background-color: #ccc;
}
.in-turn{
	width: 70px!important;
	height: 28px!important;
	line-height: 22px!important;
	margin-top: 2px!important;

}
.viewer-navbar{
	display: block!important;
	position: absolute;
	z-index: -9;
}
.method>span{
	margin-right: 4px!important;
}
#pro_par{
	width: 80%;
	margin:0 auto;
	margin-bottom: 40px;
}

@media screen and (max-width: 460px) {
	#file_list{
		overflow: scroll;
	}
	.size{
		width: 30%!important;
	}
	.name{
		font-size: 14px!important;
	}
	td{
		font-size: 14px!important;
    /*允许在单词内换行。*/
    word-break: break-word;
    /*设置宽度*/
    width: 100px;
	}

}

.moxie-shim{
	height: 60px!important;
}
#pickfiles{
	height: 60px;
}
table{
	table-layout:fixed!important;
	word-wrap:break-word!important;
	word-break:break-all!important;
}
