*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
}
#main{
	padding:20px;
}

#nav{
	margin: 0 auto;
}
#conti{
	width: 80%;
	height: auto;
	margin: 0 auto;
	margin-top: 30px;
}
#main_footer{
	position: absolute;
	width: 100%;
}
.content{
	padding: 10px;
}
#conti p{
	margin-top: 0!important;
}
.content p,.content p b{
	margin-top:0!important;
}
.content span{
	margin-right: 4px!important;
}
