html {
    line-height: 1; }

.wx-audio-content {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 300px;
    height: auto;
    padding: 8px 8px;
    border: 1px solid rgba(33, 44, 55, 0.3);
    margin: 0 auto;
    font-size: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background: #fff; }
.wx-audio-content p {
    margin: 0; }
.wx-audio-content .wx-audio-info {
    display: none; }
.wx-audio-content .wx-audio-left {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    width: 42px;
    height: 100%; }
.wx-audio-content .wx-audio-left .wx-audio-state {
    width: 100%;
    height: 100%; }
.wx-audio-content .wx-audio-right {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    width: calc(100% - 42px);
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px; }
.wx-audio-content .wx-audio-right .wx-audio-title {
    padding-bottom: 6px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
.wx-audio-content .wx-audio-right .wx-audio-disc {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 10px;
    font-size: 12px;
    color: #8c8c8c; }
.wx-audio-content .wx-audio-right .wx-audio-progrees {
    height: 2px;
    width: calc(100% - 4px);
    position: relative; }
.wx-audio-content .wx-audio-right .wx-audio-progrees .wx-progrees-detail {
    height: 100%;
    width: 100%;
    background: #ebebeb;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
.wx-audio-content .wx-audio-right .wx-audio-progrees .wx-progrees-detail .wx-voice-p {
    width: 0%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: #09bb07;
    z-index: 2; }
.wx-audio-content .wx-audio-right .wx-audio-progrees .wx-progrees-detail .wx-buffer-p {
    width: 0%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: #d9d9d9;
    z-index: 1; }
.wx-audio-content .wx-audio-right .wx-audio-progrees .wx-progrees-detail .wx-loading {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden; }
.wx-audio-content .wx-audio-right .wx-audio-progrees .wx-progrees-detail .wx-loading .wx-loading-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    animation: slidein 6s linear infinite normal;
    -webkit-animation: slidein 6s linear infinite normal;
    -moz-animation: slidein 6s linear infinite normal;
    width: 200%;
    max-width: none !important;
    background-image: -owg-repeating-linear-gradient(-15deg, #d9d9d9, #d9d9d9 2px, #ebebeb 2px, #ebebeb 4px);
    background-image: -webkit-repeating-linear-gradient(-15deg, #d9d9d9, #d9d9d9 2px, #ebebeb 2px, #ebebeb 4px);
    background-image: -moz-repeating-linear-gradient(-15deg, #d9d9d9, #d9d9d9 2px, #ebebeb 2px, #ebebeb 4px);
    background-image: -o-repeating-linear-gradient(-15deg, #d9d9d9, #d9d9d9 2px, #ebebeb 2px, #ebebeb 4px);
    background-image: repeating-linear-gradient(-15deg, #d9d9d9, #d9d9d9 2px, #ebebeb 2px, #ebebeb 4px); }

@keyframes slidein {
    0% {
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%); }
    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0); } }
.wx-audio-content .wx-audio-right .wx-audio-progrees .wx-audio-origin {
    width: 6px;
    height: 6px;
    margin-top: -3px;
    margin-left: 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #09bb07;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 2; }
.wx-audio-content .wx-audio-right .wx-audio-progrees .wx-audio-origin:before {
    content: " ";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: -owg-radial-gradient(rgba(9, 187, 7, 0.3) 20%, transparent 40%);
    background: -webkit-radial-gradient(rgba(9, 187, 7, 0.3) 20%, transparent 40%);
    background: -moz-radial-gradient(rgba(9, 187, 7, 0.3) 20%, transparent 40%);
    background: -o-radial-gradient(rgba(9, 187, 7, 0.3) 20%, transparent 40%);
    background: radial-gradient(rgba(9, 187, 7, 0.3) 20%, transparent 40%);
    top: 50%;
    margin-top: -12px;
    margin-left: -9px;
    cursor: pointer;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.wx-audio-content .wx-audio-right .wx-audio-time {
    width: 100%;
    padding-top: 6px;
    height: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    overflow: hidden; }
.wx-audio-content .wx-audio-right .wx-audio-time span {
    font-size: 12px;
    color: #8c8c8c; }
.right {
    float: right; }

.left {
    float: left; }

.center {
    margin: 0 auto;
    float: none; }

.clear-both {
    clear: both;
    height: 1px;
    margin-top: -1px;
    overflow: hidden; }
.clear-both:before {
    display: none; }
.clear-both:after {
    display: none; }

.border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.content-wrap {
    -webkit-box-sizing: content-wrap;
    -moz-box-sizing: content-wrap;
    box-sizing: content-wrap; }

.block_area {
    margin: 0 auto;
    position: relative;
    font-size: 14px; }

.text-left {
    text-align: left; }

.text-right {
    text-align: right; }

.text-center {
    text-align: center; }

.text-bold {
    font-weight: bold; }

.activeB {
    display: block; }

.activeF {
    display: flex; }

.activeN {
    display: none; }

.padding-top-0 {
    padding-top: 0px; }

.padding-left-0 {
    padding-left: 0px; }

.padding-right-0 {
    padding-right: 0px; }

.padding-bottom-0 {
    padding-bottom: 0px; }

.padding-0 {
    padding: 0px; }

.margin-top-0 {
    margin-top: 0px; }

.margin-left-0 {
    margin-left: 0px; }

.margin-right-0 {
    margin-right: 0px; }

.margin-bottom-0 {
    margin-bottom: 0px; }

.margin-0 {
    padding: 0px; }

.text-indent-0 {
    text-indent: 0px; }

.border-r-0 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px; }

.m-padding-top-0 {
    padding-top: px75rem(0); }

.m-padding-left-0 {
    padding-left: px75rem(0); }

.m-padding-right-0 {
    padding-right: px75rem(0); }

.m-padding-bottom-0 {
    padding-bottom: px75rem(0); }

.m-padding-0 {
    padding: px75rem(0); }

.m-margin-top-0 {
    margin-top: px75rem(0); }

.m-margin-left-0 {
    margin-left: px75rem(0); }

.m-margin-right-0 {
    margin-right: px75rem(0); }

.m-margin-bottom-0 {
    margin-bottom: px75rem(0); }

.m-margin-0 {
    padding: px75rem(0); }

.m-text-indent-0 {
    text-indent: px75rem(0); }

.m-border-r-0 {
    -webkit-border-radius: px75rem(0);
    -moz-border-radius: px75rem(0);
    -ms-border-radius: px75rem(0);
    -o-border-radius: px75rem(0);
    border-radius: px75rem(0); }

.padding-top-1 {
    padding-top: 1px; }

.padding-left-1 {
    padding-left: 1px; }

.padding-right-1 {
    padding-right: 1px; }

.padding-bottom-1 {
    padding-bottom: 1px; }

.padding-1 {
    padding: 1px; }

.margin-top-1 {
    margin-top: 1px; }

.margin-left-1 {
    margin-left: 1px; }

.margin-right-1 {
    margin-right: 1px; }

.margin-bottom-1 {
    margin-bottom: 1px; }

.margin-1 {
    padding: 1px; }

.text-indent-1 {
    text-indent: 1px; }

.border-r-1 {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px; }

.m-padding-top-1 {
    padding-top: px75rem(1); }

.m-padding-left-1 {
    padding-left: px75rem(1); }

.m-padding-right-1 {
    padding-right: px75rem(1); }

.m-padding-bottom-1 {
    padding-bottom: px75rem(1); }

.m-padding-1 {
    padding: px75rem(1); }

.m-margin-top-1 {
    margin-top: px75rem(1); }

.m-margin-left-1 {
    margin-left: px75rem(1); }

.m-margin-right-1 {
    margin-right: px75rem(1); }

.m-margin-bottom-1 {
    margin-bottom: px75rem(1); }

.m-margin-1 {
    padding: px75rem(1); }

.m-text-indent-1 {
    text-indent: px75rem(1); }

.m-border-r-1 {
    -webkit-border-radius: px75rem(1);
    -moz-border-radius: px75rem(1);
    -ms-border-radius: px75rem(1);
    -o-border-radius: px75rem(1);
    border-radius: px75rem(1); }

.padding-top-2 {
    padding-top: 2px; }

.padding-left-2 {
    padding-left: 2px; }

.padding-right-2 {
    padding-right: 2px; }

.padding-bottom-2 {
    padding-bottom: 2px; }

.padding-2 {
    padding: 2px; }

.margin-top-2 {
    margin-top: 2px; }

.margin-left-2 {
    margin-left: 2px; }

.margin-right-2 {
    margin-right: 2px; }

.margin-bottom-2 {
    margin-bottom: 2px; }

.margin-2 {
    padding: 2px; }

.text-indent-2 {
    text-indent: 2px; }

.border-r-2 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px; }

.m-padding-top-2 {
    padding-top: px75rem(2); }

.m-padding-left-2 {
    padding-left: px75rem(2); }

.m-padding-right-2 {
    padding-right: px75rem(2); }

.m-padding-bottom-2 {
    padding-bottom: px75rem(2); }

.m-padding-2 {
    padding: px75rem(2); }

.m-margin-top-2 {
    margin-top: px75rem(2); }

.m-margin-left-2 {
    margin-left: px75rem(2); }

.m-margin-right-2 {
    margin-right: px75rem(2); }

.m-margin-bottom-2 {
    margin-bottom: px75rem(2); }

.m-margin-2 {
    padding: px75rem(2); }

.m-text-indent-2 {
    text-indent: px75rem(2); }

.m-border-r-2 {
    -webkit-border-radius: px75rem(2);
    -moz-border-radius: px75rem(2);
    -ms-border-radius: px75rem(2);
    -o-border-radius: px75rem(2);
    border-radius: px75rem(2); }

.padding-top-3 {
    padding-top: 3px; }

.padding-left-3 {
    padding-left: 3px; }

.padding-right-3 {
    padding-right: 3px; }

.padding-bottom-3 {
    padding-bottom: 3px; }

.padding-3 {
    padding: 3px; }

.margin-top-3 {
    margin-top: 3px; }

.margin-left-3 {
    margin-left: 3px; }

.margin-right-3 {
    margin-right: 3px; }

.margin-bottom-3 {
    margin-bottom: 3px; }

.margin-3 {
    padding: 3px; }

.text-indent-3 {
    text-indent: 3px; }

.border-r-3 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }

.m-padding-top-3 {
    padding-top: px75rem(3); }

.m-padding-left-3 {
    padding-left: px75rem(3); }

.m-padding-right-3 {
    padding-right: px75rem(3); }

.m-padding-bottom-3 {
    padding-bottom: px75rem(3); }

.m-padding-3 {
    padding: px75rem(3); }

.m-margin-top-3 {
    margin-top: px75rem(3); }

.m-margin-left-3 {
    margin-left: px75rem(3); }

.m-margin-right-3 {
    margin-right: px75rem(3); }

.m-margin-bottom-3 {
    margin-bottom: px75rem(3); }

.m-margin-3 {
    padding: px75rem(3); }

.m-text-indent-3 {
    text-indent: px75rem(3); }

.m-border-r-3 {
    -webkit-border-radius: px75rem(3);
    -moz-border-radius: px75rem(3);
    -ms-border-radius: px75rem(3);
    -o-border-radius: px75rem(3);
    border-radius: px75rem(3); }

.padding-top-4 {
    padding-top: 4px; }

.padding-left-4 {
    padding-left: 4px; }

.padding-right-4 {
    padding-right: 4px; }

.padding-bottom-4 {
    padding-bottom: 4px; }

.padding-4 {
    padding: 4px; }

.margin-top-4 {
    margin-top: 4px; }

.margin-left-4 {
    margin-left: 4px; }

.margin-right-4 {
    margin-right: 4px; }

.margin-bottom-4 {
    margin-bottom: 4px; }

.margin-4 {
    padding: 4px; }

.text-indent-4 {
    text-indent: 4px; }

.border-r-4 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }

.m-padding-top-4 {
    padding-top: px75rem(4); }

.m-padding-left-4 {
    padding-left: px75rem(4); }

.m-padding-right-4 {
    padding-right: px75rem(4); }

.m-padding-bottom-4 {
    padding-bottom: px75rem(4); }

.m-padding-4 {
    padding: px75rem(4); }

.m-margin-top-4 {
    margin-top: px75rem(4); }

.m-margin-left-4 {
    margin-left: px75rem(4); }

.m-margin-right-4 {
    margin-right: px75rem(4); }

.m-margin-bottom-4 {
    margin-bottom: px75rem(4); }

.m-margin-4 {
    padding: px75rem(4); }

.m-text-indent-4 {
    text-indent: px75rem(4); }

.m-border-r-4 {
    -webkit-border-radius: px75rem(4);
    -moz-border-radius: px75rem(4);
    -ms-border-radius: px75rem(4);
    -o-border-radius: px75rem(4);
    border-radius: px75rem(4); }

.padding-top-5 {
    padding-top: 5px; }

.padding-left-5 {
    padding-left: 5px; }

.padding-right-5 {
    padding-right: 5px; }

.padding-bottom-5 {
    padding-bottom: 5px; }

.padding-5 {
    padding: 5px; }

.margin-top-5 {
    margin-top: 5px; }

.margin-left-5 {
    margin-left: 5px; }

.margin-right-5 {
    margin-right: 5px; }

.margin-bottom-5 {
    margin-bottom: 5px; }

.margin-5 {
    padding: 5px; }

.text-indent-5 {
    text-indent: 5px; }

.border-r-5 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }

.m-padding-top-5 {
    padding-top: px75rem(5); }

.m-padding-left-5 {
    padding-left: px75rem(5); }

.m-padding-right-5 {
    padding-right: px75rem(5); }

.m-padding-bottom-5 {
    padding-bottom: px75rem(5); }

.m-padding-5 {
    padding: px75rem(5); }

.m-margin-top-5 {
    margin-top: px75rem(5); }

.m-margin-left-5 {
    margin-left: px75rem(5); }

.m-margin-right-5 {
    margin-right: px75rem(5); }

.m-margin-bottom-5 {
    margin-bottom: px75rem(5); }

.m-margin-5 {
    padding: px75rem(5); }

.m-text-indent-5 {
    text-indent: px75rem(5); }

.m-border-r-5 {
    -webkit-border-radius: px75rem(5);
    -moz-border-radius: px75rem(5);
    -ms-border-radius: px75rem(5);
    -o-border-radius: px75rem(5);
    border-radius: px75rem(5); }

.padding-top-6 {
    padding-top: 6px; }

.padding-left-6 {
    padding-left: 6px; }

.padding-right-6 {
    padding-right: 6px; }

.padding-bottom-6 {
    padding-bottom: 6px; }

.padding-6 {
    padding: 6px; }

.margin-top-6 {
    margin-top: 6px; }

.margin-left-6 {
    margin-left: 6px; }

.margin-right-6 {
    margin-right: 6px; }

.margin-bottom-6 {
    margin-bottom: 6px; }

.margin-6 {
    padding: 6px; }

.text-indent-6 {
    text-indent: 6px; }

.border-r-6 {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px; }

.m-padding-top-6 {
    padding-top: px75rem(6); }

.m-padding-left-6 {
    padding-left: px75rem(6); }

.m-padding-right-6 {
    padding-right: px75rem(6); }

.m-padding-bottom-6 {
    padding-bottom: px75rem(6); }

.m-padding-6 {
    padding: px75rem(6); }

.m-margin-top-6 {
    margin-top: px75rem(6); }

.m-margin-left-6 {
    margin-left: px75rem(6); }

.m-margin-right-6 {
    margin-right: px75rem(6); }

.m-margin-bottom-6 {
    margin-bottom: px75rem(6); }

.m-margin-6 {
    padding: px75rem(6); }

.m-text-indent-6 {
    text-indent: px75rem(6); }

.m-border-r-6 {
    -webkit-border-radius: px75rem(6);
    -moz-border-radius: px75rem(6);
    -ms-border-radius: px75rem(6);
    -o-border-radius: px75rem(6);
    border-radius: px75rem(6); }

.padding-top-7 {
    padding-top: 7px; }

.padding-left-7 {
    padding-left: 7px; }

.padding-right-7 {
    padding-right: 7px; }

.padding-bottom-7 {
    padding-bottom: 7px; }

.padding-7 {
    padding: 7px; }

.margin-top-7 {
    margin-top: 7px; }

.margin-left-7 {
    margin-left: 7px; }

.margin-right-7 {
    margin-right: 7px; }

.margin-bottom-7 {
    margin-bottom: 7px; }

.margin-7 {
    padding: 7px; }

.text-indent-7 {
    text-indent: 7px; }

.border-r-7 {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px; }

.m-padding-top-7 {
    padding-top: px75rem(7); }

.m-padding-left-7 {
    padding-left: px75rem(7); }

.m-padding-right-7 {
    padding-right: px75rem(7); }

.m-padding-bottom-7 {
    padding-bottom: px75rem(7); }

.m-padding-7 {
    padding: px75rem(7); }

.m-margin-top-7 {
    margin-top: px75rem(7); }

.m-margin-left-7 {
    margin-left: px75rem(7); }

.m-margin-right-7 {
    margin-right: px75rem(7); }

.m-margin-bottom-7 {
    margin-bottom: px75rem(7); }

.m-margin-7 {
    padding: px75rem(7); }

.m-text-indent-7 {
    text-indent: px75rem(7); }

.m-border-r-7 {
    -webkit-border-radius: px75rem(7);
    -moz-border-radius: px75rem(7);
    -ms-border-radius: px75rem(7);
    -o-border-radius: px75rem(7);
    border-radius: px75rem(7); }

.padding-top-8 {
    padding-top: 8px; }

.padding-left-8 {
    padding-left: 8px; }

.padding-right-8 {
    padding-right: 8px; }

.padding-bottom-8 {
    padding-bottom: 8px; }

.padding-8 {
    padding: 8px; }

.margin-top-8 {
    margin-top: 8px; }

.margin-left-8 {
    margin-left: 8px; }

.margin-right-8 {
    margin-right: 8px; }

.margin-bottom-8 {
    margin-bottom: 8px; }

.margin-8 {
    padding: 8px; }

.text-indent-8 {
    text-indent: 8px; }

.border-r-8 {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px; }

.m-padding-top-8 {
    padding-top: px75rem(8); }

.m-padding-left-8 {
    padding-left: px75rem(8); }

.m-padding-right-8 {
    padding-right: px75rem(8); }

.m-padding-bottom-8 {
    padding-bottom: px75rem(8); }

.m-padding-8 {
    padding: px75rem(8); }

.m-margin-top-8 {
    margin-top: px75rem(8); }

.m-margin-left-8 {
    margin-left: px75rem(8); }

.m-margin-right-8 {
    margin-right: px75rem(8); }

.m-margin-bottom-8 {
    margin-bottom: px75rem(8); }

.m-margin-8 {
    padding: px75rem(8); }

.m-text-indent-8 {
    text-indent: px75rem(8); }

.m-border-r-8 {
    -webkit-border-radius: px75rem(8);
    -moz-border-radius: px75rem(8);
    -ms-border-radius: px75rem(8);
    -o-border-radius: px75rem(8);
    border-radius: px75rem(8); }

.padding-top-9 {
    padding-top: 9px; }

.padding-left-9 {
    padding-left: 9px; }

.padding-right-9 {
    padding-right: 9px; }

.padding-bottom-9 {
    padding-bottom: 9px; }

.padding-9 {
    padding: 9px; }

.margin-top-9 {
    margin-top: 9px; }

.margin-left-9 {
    margin-left: 9px; }

.margin-right-9 {
    margin-right: 9px; }

.margin-bottom-9 {
    margin-bottom: 9px; }

.margin-9 {
    padding: 9px; }

.text-indent-9 {
    text-indent: 9px; }

.border-r-9 {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    border-radius: 9px; }

.m-padding-top-9 {
    padding-top: px75rem(9); }

.m-padding-left-9 {
    padding-left: px75rem(9); }

.m-padding-right-9 {
    padding-right: px75rem(9); }

.m-padding-bottom-9 {
    padding-bottom: px75rem(9); }

.m-padding-9 {
    padding: px75rem(9); }

.m-margin-top-9 {
    margin-top: px75rem(9); }

.m-margin-left-9 {
    margin-left: px75rem(9); }

.m-margin-right-9 {
    margin-right: px75rem(9); }

.m-margin-bottom-9 {
    margin-bottom: px75rem(9); }

.m-margin-9 {
    padding: px75rem(9); }

.m-text-indent-9 {
    text-indent: px75rem(9); }

.m-border-r-9 {
    -webkit-border-radius: px75rem(9);
    -moz-border-radius: px75rem(9);
    -ms-border-radius: px75rem(9);
    -o-border-radius: px75rem(9);
    border-radius: px75rem(9); }

.padding-top-10 {
    padding-top: 10px; }

.padding-left-10 {
    padding-left: 10px; }

.padding-right-10 {
    padding-right: 10px; }

.padding-bottom-10 {
    padding-bottom: 10px; }

.padding-10 {
    padding: 10px; }

.margin-top-10 {
    margin-top: 10px; }

.margin-left-10 {
    margin-left: 10px; }

.margin-right-10 {
    margin-right: 10px; }

.margin-bottom-10 {
    margin-bottom: 10px; }

.margin-10 {
    padding: 10px; }

.text-indent-10 {
    text-indent: 10px; }

.border-r-10 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }

.m-padding-top-10 {
    padding-top: px75rem(10); }

.m-padding-left-10 {
    padding-left: px75rem(10); }

.m-padding-right-10 {
    padding-right: px75rem(10); }

.m-padding-bottom-10 {
    padding-bottom: px75rem(10); }

.m-padding-10 {
    padding: px75rem(10); }

.m-margin-top-10 {
    margin-top: px75rem(10); }

.m-margin-left-10 {
    margin-left: px75rem(10); }

.m-margin-right-10 {
    margin-right: px75rem(10); }

.m-margin-bottom-10 {
    margin-bottom: px75rem(10); }

.m-margin-10 {
    padding: px75rem(10); }

.m-text-indent-10 {
    text-indent: px75rem(10); }

.m-border-r-10 {
    -webkit-border-radius: px75rem(10);
    -moz-border-radius: px75rem(10);
    -ms-border-radius: px75rem(10);
    -o-border-radius: px75rem(10);
    border-radius: px75rem(10); }

.padding-top-11 {
    padding-top: 11px; }

.padding-left-11 {
    padding-left: 11px; }

.padding-right-11 {
    padding-right: 11px; }

.padding-bottom-11 {
    padding-bottom: 11px; }

.padding-11 {
    padding: 11px; }

.margin-top-11 {
    margin-top: 11px; }

.margin-left-11 {
    margin-left: 11px; }

.margin-right-11 {
    margin-right: 11px; }

.margin-bottom-11 {
    margin-bottom: 11px; }

.margin-11 {
    padding: 11px; }

.text-indent-11 {
    text-indent: 11px; }

.border-r-11 {
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    border-radius: 11px; }

.m-padding-top-11 {
    padding-top: px75rem(11); }

.m-padding-left-11 {
    padding-left: px75rem(11); }

.m-padding-right-11 {
    padding-right: px75rem(11); }

.m-padding-bottom-11 {
    padding-bottom: px75rem(11); }

.m-padding-11 {
    padding: px75rem(11); }

.m-margin-top-11 {
    margin-top: px75rem(11); }

.m-margin-left-11 {
    margin-left: px75rem(11); }

.m-margin-right-11 {
    margin-right: px75rem(11); }

.m-margin-bottom-11 {
    margin-bottom: px75rem(11); }

.m-margin-11 {
    padding: px75rem(11); }

.m-text-indent-11 {
    text-indent: px75rem(11); }

.m-border-r-11 {
    -webkit-border-radius: px75rem(11);
    -moz-border-radius: px75rem(11);
    -ms-border-radius: px75rem(11);
    -o-border-radius: px75rem(11);
    border-radius: px75rem(11); }

.padding-top-12 {
    padding-top: 12px; }

.padding-left-12 {
    padding-left: 12px; }

.padding-right-12 {
    padding-right: 12px; }

.padding-bottom-12 {
    padding-bottom: 12px; }

.padding-12 {
    padding: 12px; }

.margin-top-12 {
    margin-top: 12px; }

.margin-left-12 {
    margin-left: 12px; }

.margin-right-12 {
    margin-right: 12px; }

.margin-bottom-12 {
    margin-bottom: 12px; }

.margin-12 {
    padding: 12px; }

.text-indent-12 {
    text-indent: 12px; }

.border-r-12 {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px; }

.m-padding-top-12 {
    padding-top: px75rem(12); }

.m-padding-left-12 {
    padding-left: px75rem(12); }

.m-padding-right-12 {
    padding-right: px75rem(12); }

.m-padding-bottom-12 {
    padding-bottom: px75rem(12); }

.m-padding-12 {
    padding: px75rem(12); }

.m-margin-top-12 {
    margin-top: px75rem(12); }

.m-margin-left-12 {
    margin-left: px75rem(12); }

.m-margin-right-12 {
    margin-right: px75rem(12); }

.m-margin-bottom-12 {
    margin-bottom: px75rem(12); }

.m-margin-12 {
    padding: px75rem(12); }

.m-text-indent-12 {
    text-indent: px75rem(12); }

.m-border-r-12 {
    -webkit-border-radius: px75rem(12);
    -moz-border-radius: px75rem(12);
    -ms-border-radius: px75rem(12);
    -o-border-radius: px75rem(12);
    border-radius: px75rem(12); }

.padding-top-13 {
    padding-top: 13px; }

.padding-left-13 {
    padding-left: 13px; }

.padding-right-13 {
    padding-right: 13px; }

.padding-bottom-13 {
    padding-bottom: 13px; }

.padding-13 {
    padding: 13px; }

.margin-top-13 {
    margin-top: 13px; }

.margin-left-13 {
    margin-left: 13px; }

.margin-right-13 {
    margin-right: 13px; }

.margin-bottom-13 {
    margin-bottom: 13px; }

.margin-13 {
    padding: 13px; }

.text-indent-13 {
    text-indent: 13px; }

.border-r-13 {
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    border-radius: 13px; }

.m-padding-top-13 {
    padding-top: px75rem(13); }

.m-padding-left-13 {
    padding-left: px75rem(13); }

.m-padding-right-13 {
    padding-right: px75rem(13); }

.m-padding-bottom-13 {
    padding-bottom: px75rem(13); }

.m-padding-13 {
    padding: px75rem(13); }

.m-margin-top-13 {
    margin-top: px75rem(13); }

.m-margin-left-13 {
    margin-left: px75rem(13); }

.m-margin-right-13 {
    margin-right: px75rem(13); }

.m-margin-bottom-13 {
    margin-bottom: px75rem(13); }

.m-margin-13 {
    padding: px75rem(13); }

.m-text-indent-13 {
    text-indent: px75rem(13); }

.m-border-r-13 {
    -webkit-border-radius: px75rem(13);
    -moz-border-radius: px75rem(13);
    -ms-border-radius: px75rem(13);
    -o-border-radius: px75rem(13);
    border-radius: px75rem(13); }

.padding-top-14 {
    padding-top: 14px; }

.padding-left-14 {
    padding-left: 14px; }

.padding-right-14 {
    padding-right: 14px; }

.padding-bottom-14 {
    padding-bottom: 14px; }

.padding-14 {
    padding: 14px; }

.margin-top-14 {
    margin-top: 14px; }

.margin-left-14 {
    margin-left: 14px; }

.margin-right-14 {
    margin-right: 14px; }

.margin-bottom-14 {
    margin-bottom: 14px; }

.margin-14 {
    padding: 14px; }

.text-indent-14 {
    text-indent: 14px; }

.border-r-14 {
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px; }

.m-padding-top-14 {
    padding-top: px75rem(14); }

.m-padding-left-14 {
    padding-left: px75rem(14); }

.m-padding-right-14 {
    padding-right: px75rem(14); }

.m-padding-bottom-14 {
    padding-bottom: px75rem(14); }

.m-padding-14 {
    padding: px75rem(14); }

.m-margin-top-14 {
    margin-top: px75rem(14); }

.m-margin-left-14 {
    margin-left: px75rem(14); }

.m-margin-right-14 {
    margin-right: px75rem(14); }

.m-margin-bottom-14 {
    margin-bottom: px75rem(14); }

.m-margin-14 {
    padding: px75rem(14); }

.m-text-indent-14 {
    text-indent: px75rem(14); }

.m-border-r-14 {
    -webkit-border-radius: px75rem(14);
    -moz-border-radius: px75rem(14);
    -ms-border-radius: px75rem(14);
    -o-border-radius: px75rem(14);
    border-radius: px75rem(14); }

.padding-top-15 {
    padding-top: 15px; }

.padding-left-15 {
    padding-left: 15px; }

.padding-right-15 {
    padding-right: 15px; }

.padding-bottom-15 {
    padding-bottom: 15px; }

.padding-15 {
    padding: 15px; }

.margin-top-15 {
    margin-top: 15px; }

.margin-left-15 {
    margin-left: 15px; }

.margin-right-15 {
    margin-right: 15px; }

.margin-bottom-15 {
    margin-bottom: 15px; }

.margin-15 {
    padding: 15px; }

.text-indent-15 {
    text-indent: 15px; }

.border-r-15 {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px; }

.m-padding-top-15 {
    padding-top: px75rem(15); }

.m-padding-left-15 {
    padding-left: px75rem(15); }

.m-padding-right-15 {
    padding-right: px75rem(15); }

.m-padding-bottom-15 {
    padding-bottom: px75rem(15); }

.m-padding-15 {
    padding: px75rem(15); }

.m-margin-top-15 {
    margin-top: px75rem(15); }

.m-margin-left-15 {
    margin-left: px75rem(15); }

.m-margin-right-15 {
    margin-right: px75rem(15); }

.m-margin-bottom-15 {
    margin-bottom: px75rem(15); }

.m-margin-15 {
    padding: px75rem(15); }

.m-text-indent-15 {
    text-indent: px75rem(15); }

.m-border-r-15 {
    -webkit-border-radius: px75rem(15);
    -moz-border-radius: px75rem(15);
    -ms-border-radius: px75rem(15);
    -o-border-radius: px75rem(15);
    border-radius: px75rem(15); }

.padding-top-16 {
    padding-top: 16px; }

.padding-left-16 {
    padding-left: 16px; }

.padding-right-16 {
    padding-right: 16px; }

.padding-bottom-16 {
    padding-bottom: 16px; }

.padding-16 {
    padding: 16px; }

.margin-top-16 {
    margin-top: 16px; }

.margin-left-16 {
    margin-left: 16px; }

.margin-right-16 {
    margin-right: 16px; }

.margin-bottom-16 {
    margin-bottom: 16px; }

.margin-16 {
    padding: 16px; }

.text-indent-16 {
    text-indent: 16px; }

.border-r-16 {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border-radius: 16px; }

.m-padding-top-16 {
    padding-top: px75rem(16); }

.m-padding-left-16 {
    padding-left: px75rem(16); }

.m-padding-right-16 {
    padding-right: px75rem(16); }

.m-padding-bottom-16 {
    padding-bottom: px75rem(16); }

.m-padding-16 {
    padding: px75rem(16); }

.m-margin-top-16 {
    margin-top: px75rem(16); }

.m-margin-left-16 {
    margin-left: px75rem(16); }

.m-margin-right-16 {
    margin-right: px75rem(16); }

.m-margin-bottom-16 {
    margin-bottom: px75rem(16); }

.m-margin-16 {
    padding: px75rem(16); }

.m-text-indent-16 {
    text-indent: px75rem(16); }

.m-border-r-16 {
    -webkit-border-radius: px75rem(16);
    -moz-border-radius: px75rem(16);
    -ms-border-radius: px75rem(16);
    -o-border-radius: px75rem(16);
    border-radius: px75rem(16); }

.padding-top-17 {
    padding-top: 17px; }

.padding-left-17 {
    padding-left: 17px; }

.padding-right-17 {
    padding-right: 17px; }

.padding-bottom-17 {
    padding-bottom: 17px; }

.padding-17 {
    padding: 17px; }

.margin-top-17 {
    margin-top: 17px; }

.margin-left-17 {
    margin-left: 17px; }

.margin-right-17 {
    margin-right: 17px; }

.margin-bottom-17 {
    margin-bottom: 17px; }

.margin-17 {
    padding: 17px; }

.text-indent-17 {
    text-indent: 17px; }

.border-r-17 {
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    border-radius: 17px; }

.m-padding-top-17 {
    padding-top: px75rem(17); }

.m-padding-left-17 {
    padding-left: px75rem(17); }

.m-padding-right-17 {
    padding-right: px75rem(17); }

.m-padding-bottom-17 {
    padding-bottom: px75rem(17); }

.m-padding-17 {
    padding: px75rem(17); }

.m-margin-top-17 {
    margin-top: px75rem(17); }

.m-margin-left-17 {
    margin-left: px75rem(17); }

.m-margin-right-17 {
    margin-right: px75rem(17); }

.m-margin-bottom-17 {
    margin-bottom: px75rem(17); }

.m-margin-17 {
    padding: px75rem(17); }

.m-text-indent-17 {
    text-indent: px75rem(17); }

.m-border-r-17 {
    -webkit-border-radius: px75rem(17);
    -moz-border-radius: px75rem(17);
    -ms-border-radius: px75rem(17);
    -o-border-radius: px75rem(17);
    border-radius: px75rem(17); }

.padding-top-18 {
    padding-top: 18px; }

.padding-left-18 {
    padding-left: 18px; }

.padding-right-18 {
    padding-right: 18px; }

.padding-bottom-18 {
    padding-bottom: 18px; }

.padding-18 {
    padding: 18px; }

.margin-top-18 {
    margin-top: 18px; }

.margin-left-18 {
    margin-left: 18px; }

.margin-right-18 {
    margin-right: 18px; }

.margin-bottom-18 {
    margin-bottom: 18px; }

.margin-18 {
    padding: 18px; }

.text-indent-18 {
    text-indent: 18px; }

.border-r-18 {
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px; }

.m-padding-top-18 {
    padding-top: px75rem(18); }

.m-padding-left-18 {
    padding-left: px75rem(18); }

.m-padding-right-18 {
    padding-right: px75rem(18); }

.m-padding-bottom-18 {
    padding-bottom: px75rem(18); }

.m-padding-18 {
    padding: px75rem(18); }

.m-margin-top-18 {
    margin-top: px75rem(18); }

.m-margin-left-18 {
    margin-left: px75rem(18); }

.m-margin-right-18 {
    margin-right: px75rem(18); }

.m-margin-bottom-18 {
    margin-bottom: px75rem(18); }

.m-margin-18 {
    padding: px75rem(18); }

.m-text-indent-18 {
    text-indent: px75rem(18); }

.m-border-r-18 {
    -webkit-border-radius: px75rem(18);
    -moz-border-radius: px75rem(18);
    -ms-border-radius: px75rem(18);
    -o-border-radius: px75rem(18);
    border-radius: px75rem(18); }

.padding-top-19 {
    padding-top: 19px; }

.padding-left-19 {
    padding-left: 19px; }

.padding-right-19 {
    padding-right: 19px; }

.padding-bottom-19 {
    padding-bottom: 19px; }

.padding-19 {
    padding: 19px; }

.margin-top-19 {
    margin-top: 19px; }

.margin-left-19 {
    margin-left: 19px; }

.margin-right-19 {
    margin-right: 19px; }

.margin-bottom-19 {
    margin-bottom: 19px; }

.margin-19 {
    padding: 19px; }

.text-indent-19 {
    text-indent: 19px; }

.border-r-19 {
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    -ms-border-radius: 19px;
    -o-border-radius: 19px;
    border-radius: 19px; }

.m-padding-top-19 {
    padding-top: px75rem(19); }

.m-padding-left-19 {
    padding-left: px75rem(19); }

.m-padding-right-19 {
    padding-right: px75rem(19); }

.m-padding-bottom-19 {
    padding-bottom: px75rem(19); }

.m-padding-19 {
    padding: px75rem(19); }

.m-margin-top-19 {
    margin-top: px75rem(19); }

.m-margin-left-19 {
    margin-left: px75rem(19); }

.m-margin-right-19 {
    margin-right: px75rem(19); }

.m-margin-bottom-19 {
    margin-bottom: px75rem(19); }

.m-margin-19 {
    padding: px75rem(19); }

.m-text-indent-19 {
    text-indent: px75rem(19); }

.m-border-r-19 {
    -webkit-border-radius: px75rem(19);
    -moz-border-radius: px75rem(19);
    -ms-border-radius: px75rem(19);
    -o-border-radius: px75rem(19);
    border-radius: px75rem(19); }

.padding-top-20 {
    padding-top: 20px; }

.padding-left-20 {
    padding-left: 20px; }

.padding-right-20 {
    padding-right: 20px; }

.padding-bottom-20 {
    padding-bottom: 20px; }

.padding-20 {
    padding: 20px; }

.margin-top-20 {
    margin-top: 20px; }

.margin-left-20 {
    margin-left: 20px; }

.margin-right-20 {
    margin-right: 20px; }

.margin-bottom-20 {
    margin-bottom: 20px; }

.margin-20 {
    padding: 20px; }

.text-indent-20 {
    text-indent: 20px; }

.border-r-20 {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px; }

.m-padding-top-20 {
    padding-top: px75rem(20); }

.m-padding-left-20 {
    padding-left: px75rem(20); }

.m-padding-right-20 {
    padding-right: px75rem(20); }

.m-padding-bottom-20 {
    padding-bottom: px75rem(20); }

.m-padding-20 {
    padding: px75rem(20); }

.m-margin-top-20 {
    margin-top: px75rem(20); }

.m-margin-left-20 {
    margin-left: px75rem(20); }

.m-margin-right-20 {
    margin-right: px75rem(20); }

.m-margin-bottom-20 {
    margin-bottom: px75rem(20); }

.m-margin-20 {
    padding: px75rem(20); }

.m-text-indent-20 {
    text-indent: px75rem(20); }

.m-border-r-20 {
    -webkit-border-radius: px75rem(20);
    -moz-border-radius: px75rem(20);
    -ms-border-radius: px75rem(20);
    -o-border-radius: px75rem(20);
    border-radius: px75rem(20); }

.padding-top-21 {
    padding-top: 21px; }

.padding-left-21 {
    padding-left: 21px; }

.padding-right-21 {
    padding-right: 21px; }

.padding-bottom-21 {
    padding-bottom: 21px; }

.padding-21 {
    padding: 21px; }

.margin-top-21 {
    margin-top: 21px; }

.margin-left-21 {
    margin-left: 21px; }

.margin-right-21 {
    margin-right: 21px; }

.margin-bottom-21 {
    margin-bottom: 21px; }

.margin-21 {
    padding: 21px; }

.text-indent-21 {
    text-indent: 21px; }

.border-r-21 {
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    -ms-border-radius: 21px;
    -o-border-radius: 21px;
    border-radius: 21px; }

.m-padding-top-21 {
    padding-top: px75rem(21); }

.m-padding-left-21 {
    padding-left: px75rem(21); }

.m-padding-right-21 {
    padding-right: px75rem(21); }

.m-padding-bottom-21 {
    padding-bottom: px75rem(21); }

.m-padding-21 {
    padding: px75rem(21); }

.m-margin-top-21 {
    margin-top: px75rem(21); }

.m-margin-left-21 {
    margin-left: px75rem(21); }

.m-margin-right-21 {
    margin-right: px75rem(21); }

.m-margin-bottom-21 {
    margin-bottom: px75rem(21); }

.m-margin-21 {
    padding: px75rem(21); }

.m-text-indent-21 {
    text-indent: px75rem(21); }

.m-border-r-21 {
    -webkit-border-radius: px75rem(21);
    -moz-border-radius: px75rem(21);
    -ms-border-radius: px75rem(21);
    -o-border-radius: px75rem(21);
    border-radius: px75rem(21); }

.padding-top-22 {
    padding-top: 22px; }

.padding-left-22 {
    padding-left: 22px; }

.padding-right-22 {
    padding-right: 22px; }

.padding-bottom-22 {
    padding-bottom: 22px; }

.padding-22 {
    padding: 22px; }

.margin-top-22 {
    margin-top: 22px; }

.margin-left-22 {
    margin-left: 22px; }

.margin-right-22 {
    margin-right: 22px; }

.margin-bottom-22 {
    margin-bottom: 22px; }

.margin-22 {
    padding: 22px; }

.text-indent-22 {
    text-indent: 22px; }

.border-r-22 {
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    border-radius: 22px; }

.m-padding-top-22 {
    padding-top: px75rem(22); }

.m-padding-left-22 {
    padding-left: px75rem(22); }

.m-padding-right-22 {
    padding-right: px75rem(22); }

.m-padding-bottom-22 {
    padding-bottom: px75rem(22); }

.m-padding-22 {
    padding: px75rem(22); }

.m-margin-top-22 {
    margin-top: px75rem(22); }

.m-margin-left-22 {
    margin-left: px75rem(22); }

.m-margin-right-22 {
    margin-right: px75rem(22); }

.m-margin-bottom-22 {
    margin-bottom: px75rem(22); }

.m-margin-22 {
    padding: px75rem(22); }

.m-text-indent-22 {
    text-indent: px75rem(22); }

.m-border-r-22 {
    -webkit-border-radius: px75rem(22);
    -moz-border-radius: px75rem(22);
    -ms-border-radius: px75rem(22);
    -o-border-radius: px75rem(22);
    border-radius: px75rem(22); }

.padding-top-23 {
    padding-top: 23px; }

.padding-left-23 {
    padding-left: 23px; }

.padding-right-23 {
    padding-right: 23px; }

.padding-bottom-23 {
    padding-bottom: 23px; }

.padding-23 {
    padding: 23px; }

.margin-top-23 {
    margin-top: 23px; }

.margin-left-23 {
    margin-left: 23px; }

.margin-right-23 {
    margin-right: 23px; }

.margin-bottom-23 {
    margin-bottom: 23px; }

.margin-23 {
    padding: 23px; }

.text-indent-23 {
    text-indent: 23px; }

.border-r-23 {
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    -o-border-radius: 23px;
    border-radius: 23px; }

.m-padding-top-23 {
    padding-top: px75rem(23); }

.m-padding-left-23 {
    padding-left: px75rem(23); }

.m-padding-right-23 {
    padding-right: px75rem(23); }

.m-padding-bottom-23 {
    padding-bottom: px75rem(23); }

.m-padding-23 {
    padding: px75rem(23); }

.m-margin-top-23 {
    margin-top: px75rem(23); }

.m-margin-left-23 {
    margin-left: px75rem(23); }

.m-margin-right-23 {
    margin-right: px75rem(23); }

.m-margin-bottom-23 {
    margin-bottom: px75rem(23); }

.m-margin-23 {
    padding: px75rem(23); }

.m-text-indent-23 {
    text-indent: px75rem(23); }

.m-border-r-23 {
    -webkit-border-radius: px75rem(23);
    -moz-border-radius: px75rem(23);
    -ms-border-radius: px75rem(23);
    -o-border-radius: px75rem(23);
    border-radius: px75rem(23); }

.padding-top-24 {
    padding-top: 24px; }

.padding-left-24 {
    padding-left: 24px; }

.padding-right-24 {
    padding-right: 24px; }

.padding-bottom-24 {
    padding-bottom: 24px; }

.padding-24 {
    padding: 24px; }

.margin-top-24 {
    margin-top: 24px; }

.margin-left-24 {
    margin-left: 24px; }

.margin-right-24 {
    margin-right: 24px; }

.margin-bottom-24 {
    margin-bottom: 24px; }

.margin-24 {
    padding: 24px; }

.text-indent-24 {
    text-indent: 24px; }

.border-r-24 {
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    border-radius: 24px; }

.m-padding-top-24 {
    padding-top: px75rem(24); }

.m-padding-left-24 {
    padding-left: px75rem(24); }

.m-padding-right-24 {
    padding-right: px75rem(24); }

.m-padding-bottom-24 {
    padding-bottom: px75rem(24); }

.m-padding-24 {
    padding: px75rem(24); }

.m-margin-top-24 {
    margin-top: px75rem(24); }

.m-margin-left-24 {
    margin-left: px75rem(24); }

.m-margin-right-24 {
    margin-right: px75rem(24); }

.m-margin-bottom-24 {
    margin-bottom: px75rem(24); }

.m-margin-24 {
    padding: px75rem(24); }

.m-text-indent-24 {
    text-indent: px75rem(24); }

.m-border-r-24 {
    -webkit-border-radius: px75rem(24);
    -moz-border-radius: px75rem(24);
    -ms-border-radius: px75rem(24);
    -o-border-radius: px75rem(24);
    border-radius: px75rem(24); }

.padding-top-25 {
    padding-top: 25px; }

.padding-left-25 {
    padding-left: 25px; }

.padding-right-25 {
    padding-right: 25px; }

.padding-bottom-25 {
    padding-bottom: 25px; }

.padding-25 {
    padding: 25px; }

.margin-top-25 {
    margin-top: 25px; }

.margin-left-25 {
    margin-left: 25px; }

.margin-right-25 {
    margin-right: 25px; }

.margin-bottom-25 {
    margin-bottom: 25px; }

.margin-25 {
    padding: 25px; }

.text-indent-25 {
    text-indent: 25px; }

.border-r-25 {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px; }

.m-padding-top-25 {
    padding-top: px75rem(25); }

.m-padding-left-25 {
    padding-left: px75rem(25); }

.m-padding-right-25 {
    padding-right: px75rem(25); }

.m-padding-bottom-25 {
    padding-bottom: px75rem(25); }

.m-padding-25 {
    padding: px75rem(25); }

.m-margin-top-25 {
    margin-top: px75rem(25); }

.m-margin-left-25 {
    margin-left: px75rem(25); }

.m-margin-right-25 {
    margin-right: px75rem(25); }

.m-margin-bottom-25 {
    margin-bottom: px75rem(25); }

.m-margin-25 {
    padding: px75rem(25); }

.m-text-indent-25 {
    text-indent: px75rem(25); }

.m-border-r-25 {
    -webkit-border-radius: px75rem(25);
    -moz-border-radius: px75rem(25);
    -ms-border-radius: px75rem(25);
    -o-border-radius: px75rem(25);
    border-radius: px75rem(25); }

.padding-top-26 {
    padding-top: 26px; }

.padding-left-26 {
    padding-left: 26px; }

.padding-right-26 {
    padding-right: 26px; }

.padding-bottom-26 {
    padding-bottom: 26px; }

.padding-26 {
    padding: 26px; }

.margin-top-26 {
    margin-top: 26px; }

.margin-left-26 {
    margin-left: 26px; }

.margin-right-26 {
    margin-right: 26px; }

.margin-bottom-26 {
    margin-bottom: 26px; }

.margin-26 {
    padding: 26px; }

.text-indent-26 {
    text-indent: 26px; }

.border-r-26 {
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
    border-radius: 26px; }

.m-padding-top-26 {
    padding-top: px75rem(26); }

.m-padding-left-26 {
    padding-left: px75rem(26); }

.m-padding-right-26 {
    padding-right: px75rem(26); }

.m-padding-bottom-26 {
    padding-bottom: px75rem(26); }

.m-padding-26 {
    padding: px75rem(26); }

.m-margin-top-26 {
    margin-top: px75rem(26); }

.m-margin-left-26 {
    margin-left: px75rem(26); }

.m-margin-right-26 {
    margin-right: px75rem(26); }

.m-margin-bottom-26 {
    margin-bottom: px75rem(26); }

.m-margin-26 {
    padding: px75rem(26); }

.m-text-indent-26 {
    text-indent: px75rem(26); }

.m-border-r-26 {
    -webkit-border-radius: px75rem(26);
    -moz-border-radius: px75rem(26);
    -ms-border-radius: px75rem(26);
    -o-border-radius: px75rem(26);
    border-radius: px75rem(26); }

.padding-top-27 {
    padding-top: 27px; }

.padding-left-27 {
    padding-left: 27px; }

.padding-right-27 {
    padding-right: 27px; }

.padding-bottom-27 {
    padding-bottom: 27px; }

.padding-27 {
    padding: 27px; }

.margin-top-27 {
    margin-top: 27px; }

.margin-left-27 {
    margin-left: 27px; }

.margin-right-27 {
    margin-right: 27px; }

.margin-bottom-27 {
    margin-bottom: 27px; }

.margin-27 {
    padding: 27px; }

.text-indent-27 {
    text-indent: 27px; }

.border-r-27 {
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    -ms-border-radius: 27px;
    -o-border-radius: 27px;
    border-radius: 27px; }

.m-padding-top-27 {
    padding-top: px75rem(27); }

.m-padding-left-27 {
    padding-left: px75rem(27); }

.m-padding-right-27 {
    padding-right: px75rem(27); }

.m-padding-bottom-27 {
    padding-bottom: px75rem(27); }

.m-padding-27 {
    padding: px75rem(27); }

.m-margin-top-27 {
    margin-top: px75rem(27); }

.m-margin-left-27 {
    margin-left: px75rem(27); }

.m-margin-right-27 {
    margin-right: px75rem(27); }

.m-margin-bottom-27 {
    margin-bottom: px75rem(27); }

.m-margin-27 {
    padding: px75rem(27); }

.m-text-indent-27 {
    text-indent: px75rem(27); }

.m-border-r-27 {
    -webkit-border-radius: px75rem(27);
    -moz-border-radius: px75rem(27);
    -ms-border-radius: px75rem(27);
    -o-border-radius: px75rem(27);
    border-radius: px75rem(27); }

.padding-top-28 {
    padding-top: 28px; }

.padding-left-28 {
    padding-left: 28px; }

.padding-right-28 {
    padding-right: 28px; }

.padding-bottom-28 {
    padding-bottom: 28px; }

.padding-28 {
    padding: 28px; }

.margin-top-28 {
    margin-top: 28px; }

.margin-left-28 {
    margin-left: 28px; }

.margin-right-28 {
    margin-right: 28px; }

.margin-bottom-28 {
    margin-bottom: 28px; }

.margin-28 {
    padding: 28px; }

.text-indent-28 {
    text-indent: 28px; }

.border-r-28 {
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    border-radius: 28px; }

.m-padding-top-28 {
    padding-top: px75rem(28); }

.m-padding-left-28 {
    padding-left: px75rem(28); }

.m-padding-right-28 {
    padding-right: px75rem(28); }

.m-padding-bottom-28 {
    padding-bottom: px75rem(28); }

.m-padding-28 {
    padding: px75rem(28); }

.m-margin-top-28 {
    margin-top: px75rem(28); }

.m-margin-left-28 {
    margin-left: px75rem(28); }

.m-margin-right-28 {
    margin-right: px75rem(28); }

.m-margin-bottom-28 {
    margin-bottom: px75rem(28); }

.m-margin-28 {
    padding: px75rem(28); }

.m-text-indent-28 {
    text-indent: px75rem(28); }

.m-border-r-28 {
    -webkit-border-radius: px75rem(28);
    -moz-border-radius: px75rem(28);
    -ms-border-radius: px75rem(28);
    -o-border-radius: px75rem(28);
    border-radius: px75rem(28); }

.padding-top-29 {
    padding-top: 29px; }

.padding-left-29 {
    padding-left: 29px; }

.padding-right-29 {
    padding-right: 29px; }

.padding-bottom-29 {
    padding-bottom: 29px; }

.padding-29 {
    padding: 29px; }

.margin-top-29 {
    margin-top: 29px; }

.margin-left-29 {
    margin-left: 29px; }

.margin-right-29 {
    margin-right: 29px; }

.margin-bottom-29 {
    margin-bottom: 29px; }

.margin-29 {
    padding: 29px; }

.text-indent-29 {
    text-indent: 29px; }

.border-r-29 {
    -webkit-border-radius: 29px;
    -moz-border-radius: 29px;
    -ms-border-radius: 29px;
    -o-border-radius: 29px;
    border-radius: 29px; }

.m-padding-top-29 {
    padding-top: px75rem(29); }

.m-padding-left-29 {
    padding-left: px75rem(29); }

.m-padding-right-29 {
    padding-right: px75rem(29); }

.m-padding-bottom-29 {
    padding-bottom: px75rem(29); }

.m-padding-29 {
    padding: px75rem(29); }

.m-margin-top-29 {
    margin-top: px75rem(29); }

.m-margin-left-29 {
    margin-left: px75rem(29); }

.m-margin-right-29 {
    margin-right: px75rem(29); }

.m-margin-bottom-29 {
    margin-bottom: px75rem(29); }

.m-margin-29 {
    padding: px75rem(29); }

.m-text-indent-29 {
    text-indent: px75rem(29); }

.m-border-r-29 {
    -webkit-border-radius: px75rem(29);
    -moz-border-radius: px75rem(29);
    -ms-border-radius: px75rem(29);
    -o-border-radius: px75rem(29);
    border-radius: px75rem(29); }

.padding-top-30 {
    padding-top: 30px; }

.padding-left-30 {
    padding-left: 30px; }

.padding-right-30 {
    padding-right: 30px; }

.padding-bottom-30 {
    padding-bottom: 30px; }

.padding-30 {
    padding: 30px; }

.margin-top-30 {
    margin-top: 30px; }

.margin-left-30 {
    margin-left: 30px; }

.margin-right-30 {
    margin-right: 30px; }

.margin-bottom-30 {
    margin-bottom: 30px; }

.margin-30 {
    padding: 30px; }

.text-indent-30 {
    text-indent: 30px; }

.border-r-30 {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px; }

.m-padding-top-30 {
    padding-top: px75rem(30); }

.m-padding-left-30 {
    padding-left: px75rem(30); }

.m-padding-right-30 {
    padding-right: px75rem(30); }

.m-padding-bottom-30 {
    padding-bottom: px75rem(30); }

.m-padding-30 {
    padding: px75rem(30); }

.m-margin-top-30 {
    margin-top: px75rem(30); }

.m-margin-left-30 {
    margin-left: px75rem(30); }

.m-margin-right-30 {
    margin-right: px75rem(30); }

.m-margin-bottom-30 {
    margin-bottom: px75rem(30); }

.m-margin-30 {
    padding: px75rem(30); }

.m-text-indent-30 {
    text-indent: px75rem(30); }

.m-border-r-30 {
    -webkit-border-radius: px75rem(30);
    -moz-border-radius: px75rem(30);
    -ms-border-radius: px75rem(30);
    -o-border-radius: px75rem(30);
    border-radius: px75rem(30); }

.m-size-10 {
    font-size: px75rem(10); }

.m-size-12 {
    font-size: px75rem(12); }

.m-size-14 {
    font-size: px75rem(14); }

.m-size-16 {
    font-size: px75rem(16); }

.m-size-18 {
    font-size: px75rem(18); }

.m-size-20 {
    font-size: px75rem(20); }

.m-size-22 {
    font-size: px75rem(22); }

.m-size-24 {
    font-size: px75rem(24); }

.m-size-26 {
    font-size: px75rem(26); }

.m-size-28 {
    font-size: px75rem(28); }

.m-size-30 {
    font-size: px75rem(30); }

.m-size-32 {
    font-size: px75rem(32); }

.m-size-34 {
    font-size: px75rem(34); }

.m-size-36 {
    font-size: px75rem(36); }

.m-size-38 {
    font-size: px75rem(38); }

.m-size-40 {
    font-size: px75rem(40); }

.m-size-42 {
    font-size: px75rem(42); }

.m-size-44 {
    font-size: px75rem(44); }

.m-size-46 {
    font-size: px75rem(46); }

.m-size-48 {
    font-size: px75rem(48); }

.m-size-50 {
    font-size: px75rem(50); }

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fff; }

body {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column; }
body .title {
    font-size: 42px;
    position: relative;
    background: -owg-linear-gradient(to bottom right, rgba(50, 219, 154, 0.856), rgba(209, 163, 47, 0.808));
    background: -webkit-linear-gradient(to bottom right, rgba(50, 219, 154, 0.856), rgba(209, 163, 47, 0.808));
    background: -moz-linear-gradient(to bottom right, rgba(50, 219, 154, 0.856), rgba(209, 163, 47, 0.808));
    background: -o-linear-gradient(to bottom right, rgba(50, 219, 154, 0.856), rgba(209, 163, 47, 0.808));
    background: linear-gradient(to bottom right, rgba(50, 219, 154, 0.856), rgba(209, 163, 47, 0.808));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin-top: 0; }
body .disc {
    font-size: 14px;
    color: #f1f1f1; }
body .github-info {
    margin-top: 40px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center; }
body .github-info span {
    color: #ffffff;
    font: Arial, "Helvetica Neue", Helvetica, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    font-size: 14px; }
body .btn {
    width: 320px;
    line-height: 40px;
    background: #999;
    cursor: pointer;
    color: #fff;
    text-align: center;
    margin-top: 30px; }